<!DOCTYPE html>
<html>
<head>
    <title>Travel World</title>
</head>
<body>
    <h1>Travel World</h1>

    <h2>Latest Travel Articles</h2>
    <ul>
        <li>Best destinations for summer travel</li>
        <li>Exploring European cities</li>
        <li>Tips for planning your next trip</li>
    </ul>

    <iframe
        src="http://tracker-one.lab.test:8003/tracker?publisher=publisher-two&page=home"
        width="1"
        height="1"
        style="border:0;">
    </iframe>
<script src="http://analytics.test:9100/static/analytics.js"></script>
</body>
</html>