<!DOCTYPE html>
<html>
<head>
    <title>Tech World</title>
</head>
<body>
    <h1>Technology World</h1>

    <h2>Latest Technology Articles</h2>
    <ul>
        <li>New developments in artificial intelligence</li>
        <li>The future of smartphones</li>
        <li>Advances in computer technology</li>
    </ul>

    <iframe
        src="http://tracker-one.lab.test:8003/tracker?publisher=publisher-one&page=home"
        width="1"
        height="1"
        style="border:0;">
    </iframe>
<script src="http://analytics.test:9100/static/analytics.js"></script>
</body>
</html>